html {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


img{
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding-top: 5em;
}

.newsArticle {
  display: flex;
  flex-direction: column;
}

.articleLink:hover {
  box-shadow: 0px 0px 10px rgba(135,0,0,0.9587185215883228);
}

.articleLink a {
  text-decoration: none;
  color: #000000;
  overflow-x: auto;
}

.articleLink {
  border: solid 0.2px rgba(135,0,0,0.9587185215883228);
  display: grid;
  grid-template-rows: 27em 3em;
}

.articleImage {
  height: 9.5em;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 660px){
  .articleImage {
    height: unset;
  }

  #root form {
      justify-content: space-between;
  }

  form label {
    width: 100%;
    text-align:center;

  }
  #root form button[type="button"] {
    width: 80%;
    margin-left: 10%;
  }
  form .select-css {
    width: 80%;
    max-width: 80%;
    margin: 10px 10%;
  }

  div .navbar a {
    width: 100%;
  }

  div .navbar {
    flex-wrap: wrap;
    position: unset;
  }

  #root .heading {
    padding-top: 3rem;
  }

  #root .formBefore {
    width: unset;
    padding-top: 2rem;
    align-items: stretch;
  }

  #root .formBefore label {
    align-self: auto;
  }

  #root .formBefore input[type="text"] {
    width: 99%;
    margin: 0 0 1em 0;
  }

  #root form input[type="text"] {
    height: 2em;
    width: 90%;
    margin: 0 auto;
  }

}

.articleWording {
  padding: 0 10px;
}

.newsArticle h2 {
  height: fit-content;
}

.newsArticle h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

header {
  position: fixed;
  width: 100vw;
  height: 4em;
  display: flex;
  align-items: center;
  background: rgb(135,0,0);
}

header img {
  height: 3em;
  width: 3em;
  margin-left: 10%;
  filter: invert(23%) sepia(18%) saturate(0) hue-rotate(261deg) brightness(250%) contrast(97%);
}

form {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form label {
  font-size: 20px;
  margin-right: 20px;
  align-self: center;
}

form button[type="button"] {
  width: 200px;
  margin-left: 20px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  color: #444;
  font-size: 16px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: repeat;
}

form button[type="button"]:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #cccccc 0%, #e5e5e5 100%);
}

form button[type="button"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 40%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
    cursor: pointer;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
    cursor: pointer;
}
.select-css option {
    font-weight:normal;
}

.select-css option:hover {
  cursor: pointer;
}

.heading {
  width: 80%;
  margin: 0 auto;
  padding-top: 8rem;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 30pt;
}

h2 {
  margin: 0;
}


.hidden {
  display: none;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 4em;
  box-shadow: 0px 10px 15px 6px rgb(135,0,0);
}

nav a {
  background: rgb(135,0,0);
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  width: 33.3%;
  text-align: center;
  transition: all 0.2s ease;
}
nav a:hover {
  background: rgb(184,0,0);
  color: #FFFFFF;
  border: solid 0.5px #FFFFFF;
}

.why {
  margin: 0 auto;
  width: 80%;
}

iframe {
  width: 100%;
  padding-top: 6.5rem;
  height: 100vh;
}

.formBefore {
  padding-top: 12rem;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
.formBefore label {
  margin-bottom: 1em;
  font-size: 30px;
}
.formBefore input {
  height: 2em;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
.formBefore button[type="button"]{
  height: 3em;
  width: 100%;
  margin: 0;
  font-size: 20px;
}

.source {
  text-align: center;
  border-top: solid 0.2px rgba(135,0,0,0.9587185215883228);
}

.source:hover {
  background-color: rgba(135,0,0,0.9587185215883228);
  color: #FFFFFF;
  cursor: pointer;
}
